@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,900;1,500;1,900&display=swap');

.grid{
    display: grid;
}
* {
    box-sizing: border-box;
  }

:root{
    overflow-x: hidden !important;
    scroll-behavior: smooth;
}

nav{
    display: flex;
    flex-flow: nowrap row;
    column-gap: 20px;
    justify-content: center;
    width: 100vw;
    padding: 10px 0 10px 0;
    height: fit-content;
    position: fixed;
    top: 0;
    left: 0;
    background: #201f38;
    z-index: 200;
    transition: 1s ease;
}
nav.scrolled{
    background: #18182b;
    transition: 1s ease;
}
nav a{
    color: var(--less);
    text-decoration: none;
    cursor: pointer;
}
nav a:hover{
    text-decoration: underline;
}

nav a.active{
    color: #ff4848;
    text-shadow: 0 0 50px #ff4848
        0 0 200px #ff4848;
    font-weight: bold;
}

body{
    grid-template-columns: 1fr;
    grid-template-rows: max-content;
    background: #201f38;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    --less: #3c4373;
    margin: 0;
}
.hc{
    --less: white;
}
header{
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0;
    width: 100vw;
}
header div{
    padding-inline: 20%;
    margin-top: 30%;
}
header img{
    width: 100%;
    max-width: 600px;
    margin-inline: auto;
}
:is(header h1, h2){
    color: #ff4848;
    text-shadow: 
        0 0 250px #ff4848;
    margin-left: 10%;
    width: max-content;
    position: relative;
    word-break: break-all;
    line-break:normal;
}
:is(header h2){
    color: var(--less);
    width: max-content;
    margin-left: 10%;
}
:is(p, ul){
    color: var(--less);
}

#info{
    background-color:#18182b;
    margin-top: 50px;
    padding-bottom: 100px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-inline: 10%;
}
#info::before{
    content: "";
    display: block;
    width: 100%;
    height: 50px;
    background-color: #18182b;
    position: relative;
    top: -50px;
    border-radius: 50px 50px 0 0;
}
#info span{
    width: 30%;
    text-align: center;
}
#info span :is(h2, p){
    margin: 5px 0 0 0;
    width: 100%;
}
#info span svg{
    font-size: 2rem;
    color: #ff4848;
    filter: drop-shadow(0 0 100px #ff4848);
}
#info > div{
    width: 100%;
    margin-top: 100px;
    background-color: rgb(32, 31, 56);
    border-radius: 50px;
    padding: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    text-align: center;
}
#info > div h2{
    margin-inline: 0;
    width: 100%;
    text-align: center;
}
#timeline-wrapper > div.iconWrapper{
    margin: 20px 0 20px 0;
    width: 100%;
}
#timeline-wrapper > div.iconWrapper > svg{
    color:#ff4848;
    font-size: 1.5rem;
}
/* The actual timeline (the vertical ruler) */
.timeline {
    width: 100%;
    position: relative;
    margin: 0 auto;
    max-width: 1200px;
    height:fit-content;
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #18182b;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
    border-radius: 15px;
  }
  
  /* Container around content */
  .container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }

  .container svg {
    position: absolute;
    width: 26px;
    height: 26px;
    right: -8px;
    top: 19px;
    z-index: 10;
    transform: scale(0);
    transition: 0.5s ease;
    color: #18182b;
  }

  /* The circles on the timeline */
.container::after {
    content: '';
    position: absolute;
    width: 26px;
    height: 26px;
    right: -17px;
    background-color: #201f38;
    border: 4px solid #18182b;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
    transition: 0.5s ease-in;
  }
  .container.activated::after {
    width: 30px;
    height: 30px;
    right: -19px;
    background-color: #ff4848;
    top: 12px;
    transition: 0.5s ease-in;
  }
  
  .container svg.shown{
    animation: 0.5s ease icon-pop;
    animation-fill-mode: forwards;
    transition: 0.5s ease;
  }

  /* Place the container to the left */
  .left {
    left: 0;
  }
  
  /* Place the container to the right */
  .right {
    left: 50%;
  }

  .container.right svg {
    left: -7px;
  }

  #fa-birthday-cake{
      right: -7px;
      top: 18px;
  }
  #fa-theater-masks{
    left: -9px;
    top: 18px;
}
#fa-diagnoses{
    right: -10px;
    top: 17px;
}
  
  /* Add arrows to the left container (pointing right) */
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #18182b;
  }
  
  /* Add arrows to the right container (pointing left) */
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent #18182b transparent transparent;
  }
  
  /* Fix the circle for containers on the right side */
  .right::after {
    left: -16px;
  }
  .container.activated.right::after {
    width: 30px;
    height: 30px;
    left: -19px;
    background-color: #ff4848;
    top: 12px;
    transition: 0.5s ease;
  }
  
  /* The actual content */
  .content {
    padding: 20px 30px;
    background-color: #18182b;
    position: relative;
    border-radius: 6px;
  }
  
  /* Media queries - Responsive timeline on screens less than 600px wide */
  @media screen and (max-width: 800px) {
    .container svg.shown {
        animation: 0.5s ease icon-pop-smaller;
        animation-fill-mode: forwards;
      }

    #timeline-wrapper > div.iconWrapper{
        color:#ff4848;
        display: flex;
        justify-content: start;
    }
    #timeline-wrapper > div.iconWrapper svg{
        color:#ff4848;
        width: fit-content;
        margin-left: 18px;
    }
  /* Place the timelime to the left */
    .timeline::after {
      left: 31px;
    }
  
  /* Full-width containers */
    .container {
    left: 30px;
      width: 100%;
    }
  
  /* Make sure that all arrows are pointing leftwards */
    .container::before {
      left: 30px;
      border: medium solid #18182b;
      border-width: 10px 10px 10px 0;
      border-color: transparent #18182b transparent transparent;
    }
  
  /* Make sure all circles are at the same spot */
    .left::after, .right::after {
      left: -16px;
    }
    .left.activated::after, .right.activated::after {
        height: 26px !important;
        width: 26px !important;
        background-color: #ff4848 !important;
        top: 15px !important;
        transition: 0.5s ease !important;
    }
    .right.activated::after{
        left: -16px !important;
    }
    .container svg {
        position: absolute;
        width: 26px;
        height: 26px;
        left: -7px;
        top: 19px;
        z-index: 10;
        transform: scale(0);
        transition: 0.5s ease;
        color: #18182b;
    }
  }

.slide-in-top{
    animation: 1s ease slide-top;
    animation-fill-mode: forwards;
}
.slide-in-right{
    animation: 1s ease slide-right;
    animation-fill-mode: forwards;
}
.slide-in-bottom{
    animation: 1s ease slide-bottom;
    animation-fill-mode: forwards;
}

.bold{
    font-weight: bold;
}
.normal{
    font-weight: normal;
}

.animate-top{
    position: relative;
    top: -50px;
    opacity: 0;
}
.animate-right{
    position: relative;
    right: -50px;
    opacity: 0;
}
.animate-bottom{
    position: relative;
    bottom: -50px;
    opacity: 0;
}

main{
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
}
main > div{
    padding-inline: 10%;
}
main > div :is(h2){
    margin-inline: 0;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #3c4373;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    background-color: #18182b;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }
  input:checked +   .slider {
    background-color: #ff4848;
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  section[class*=quote]{
    height: fit-content;
    padding: 75px 0 75px 0;
  }
  section.quote1{
    background-color: rgba(10, 10, 19,0.7);
    opacity: 1;
    background-image:  linear-gradient(30deg, #18182b 12%, transparent 12.5%, transparent 87%, #18182b 87.5%, #18182b), linear-gradient(150deg, #18182b 12%, transparent 12.5%, transparent 87%, #18182b 87.5%, #18182b), linear-gradient(30deg, #18182b 12%, transparent 12.5%, transparent 87%, #18182b 87.5%, #18182b), linear-gradient(150deg, #18182b 12%, transparent 12.5%, transparent 87%, #18182b 87.5%, #18182b), linear-gradient(60deg, #18182b77 25%, transparent 25.5%, transparent 75%, #18182b77 75%, #18182b77), linear-gradient(60deg, #18182b77 25%, transparent 25.5%, transparent 75%, #18182b77 75%, #18182b77);
    background-size: 20px 35px;
    background-position: 0 0, 0 0, 10px 18px, 10px 18px, 0 0, 10px 18px;
  }
  section[class*=quote] h2{
    margin-inline: auto;
  }
  section[class*=quote] h2 p{
    text-align: right;
    font-size: 1rem;
    font-weight: normal;
  }
  article{
    padding-inline: 10%;
    margin-top: 100px;
  }
  article h2{
    margin: 0;
  }
  article hr{
    height: 2px;
    background-color: #3c4373;
    border: none;
  }
  article > div{
    display: flex;
    flex-flow: row wrap;
  }
  article > div > div:first{
    width: 30%;
  }
  article > div > div:last-of-type{
    width:calc(70% - 100px);
    padding: 50px 100px;
  }
  article > div > div:last-of-type :is(p, ul){
    margin: 20px;
    font-size: 1.3rem;
  }

@media screen and (max-width: 1000px){
    header{
        height: fit-content;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }
    header div{
        padding-inline: 0%;
    }
    header h1{
        margin-inline: auto;
    }
    :is(header h2){
        margin-inline: auto;
    }
    #info img{
        width: 100%;
    }
    #info > div > div{
        max-width: unset;
        width: 100%;
    }
}

@keyframes slide-top{
    0%{
        position: relative;
        top: -50px;
        opacity: 0;
    }
    100%{
        position: relative;
        top: 0;
        opacity: 1;
    }
}

@keyframes slide-right{
    0%{
        position: relative;
        right: -50px;
        opacity: 0;
    }
    100%{
        position: relative;
        right: 0;
        opacity: 1;
    }
}
@keyframes slide-bottom{
    0%{
        position: relative;
        bottom: -50px;
        opacity: 0;
    }
    100%{
        position: relative;
        bottom: 0;
        opacity: 1;
    }
}

@keyframes icon-pop{
    0%{
        transform: scale(0);
    }
    100% {
        transform: scale(1.2);
    }
}
@keyframes icon-pop-smaller{
    0%{
        transform: scale(0);
    }
    100% {
        transform: scale(1.0);
    }
}